@font-face { font-family: Symbola; src: url('../fonts/Symbola.otf'); }
.clear { clear: both; }

.main {
  margin-top: 60px;
}

.downloads {
  float: right;
  padding-top: 12px;
}

.download {
  font-size: 13pt !important;
  margin: 0 12px;
}

.icons {
  margin-top: 28px;
}

.icon {
  float: left;
  font-family: Symbola;
  font-size: 60px;
  width: 64px;
  height: 64px;
  margin: 20px;
  color: black;
  line-height: 56px !important;
}

.icon:hover {
  text-decoration: none !important;
  color: black !important;
}

.font-size {
  width: 260px;
}
